<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reg-student-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<script>
    function openOverlay() {
        document.getElementById("passwordOverlay").style.display = "flex";
    }

    function closeOverlay() {
        document.getElementById("passwordOverlay").style.display = "none";
    }

    function closeIfOutside(event) {
        if (event.target.classList.contains("overlay")) {
            closeOverlay();
        }
    }
</script>
<!-- CHANGE PASSWORD OVERLAY -->
<div class="overlay" id="passwordOverlay" onclick="closeIfOutside(event)">
    <div class="box">
        <button class="close-btn" onclick="closeOverlay()">✕</button>
        <h2>Change Password</h2>
        <form class="ch" action="/changepass" method="POST">
            <input type="password" placeholder="Old Password" name="opass">
            <input type="password" placeholder="New Password" name="npass">
            <input type="password" placeholder="Confirm Password" name="cnpass">
            <button type="submit" class="change-btn">Change Password</button>
        </form>
    </div>
</div>
<!-- CHANGE PASSWORD OVERLAY -->
<body>
    <% if (user.role === 'admin') { %>
        <%- include('navbar-staff') %>
    <% } else if (user.role === 'teacher') { %>
        <%- include('navbar-teacher') %>
    <% } else if (user.role === 'student') { %>
        <%- include('navbar') %>
    <% } %>
    <div class="banner">
        <div class="text">
            <h1>ข้อมูลส่วนตัว</h1>
            <h2>Student Information Office of the Registrar</h2>
        </div>
        <div class="darker"></div>
        <img src="/img/info-bg.jpg">
    </div>
    <div class="profile-section">
        <div class="pfp-container">
            <div class="profile-left">
                <div class="profile-image">
                    <img src="" alt="">
                </div>
                <button class="edit-btn">Edit Image</button>
            </div>

            <div class="profile-right">
                <div class="info-row"><span>ชื่อ (ไทย) :</span><%=pd.first_name%> <%=pd.last_name%></div>
                <div class="info-row"><span>ชื่อ (อังกฤษ) :</span> Mr. Josh something</div>
                
                <div class="info-row"><span>ภาควิชา :</span> วิทย์-คณิต</div>
                
                <div class="info-row"><span>Email :</span> <%= sc ? sc.email : user.email %></div>
                <div class="info-row"><span>รหัสผ่าน :</span> <%= user.password_hash%></div>
                <button class="pass-btn" onclick="openOverlay()">Change Password</button>
                <% if (pd.gender == 'male') { %>
                    <div class="info-row"><span>เพศ :</span> ชาย</div>
                <%} else {%>
                    <div class="info-row"><span>เพศ :</span> หญิง</div>
                <%}%>

                <% if (pd.telephone) { %>
                    <div class="info-row"><span>เบอร์โทรศัพท์ :</span> <%=pd.telephone %></div>
                <%} else {%>
                    <div class="info-row"><span>เบอร์โทรศัพท์ :</span> -</div>
                <%}%>
                <div class="info-row"><span>DOB :</span> 20 Jan. 1953</div>
                <div class="info-row"><span>สัญชาติ :</span> United States</div>
            </div>
        </div>
    </div>
</body>
</html>