<div class="navbar">
    <div class="logo">
        <%- include('partials/logo') %>
    </div>
    <div class="nav-tab">
        <div class="user">
            <div class="user-info">
                <div class="name">
<%= pd.first_name %> <%= pd.last_name %> (
<%= user.role === 'student' ? 'นักเรียน' :
    user.role === 'teacher' ? 'คุณครู' :
    user.role === 'admin' ? 'เจ้าหน้าที่สำนักทะเบียน' :
    user.role %>
)
</div>
                <div class="id"><%= sc.student_code %></div>
            </div>
            <div class="profile-pic"
                style="background-image:
                url('/uploads/profile/<%= user.account_id %>.png'),
                url('/uploads/profile/<%= user.account_id %>.jpg'),
                url('/img/default-profile.jpg')">
            </div>
        </div>
        <div class="menu">
            <form action="/logout" method="POST">
                <button type="submit" class="logout">ออกจากระบบ</button>
            </form>
            <button class="normal"><a href="/subject-scd">ตารางสอน</a></button>
            <button class="normal"><a href="/scorestu">ข้อมูลคะแนนเก็บ</a></button>
            <button class="normal"><a href="/dashboard">ข้อมูลส่วนตัว</a></button>
            <button onclick="location.href='/'" class="normal">◄ กลับหน้าหลัก</button>
        </div>
    </div>
</div>