<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reg-student-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include("navbar") %>
    <div class="con">

        <h1 class="title">คะแนนเก็บ</h1>

        <div class="score-con">
            <table class="score-table">
                <thead>
                    <tr>
                        <th>รหัสวิชา</th>
                        <th>ชื่อวิชา</th>
                        <th>คะแนนเก็บ</th>
                        <th>คะแนนสอบกลางภาค</th>
                        <th>คะแนนสอบปลายภาค</th>
                        <th>คะแนนรวม</th>
                        <th>เกรด</th>
                    </tr>
                </thead>
                <% score.forEach(item => { %>
                    <tbody>
                        <% const totalScore=item.student_final_score + item.student_assignment_score + item.student_midterm_score; %>
                        <td><%= item.subject_code %></td>
                        <td><%= item.Subject.subject_name %></td>
                        <td><%= item.student_assignment_score %></td>
                        <td><%= item.student_midterm_score %></td>
                        <td><%= item.student_final_score %></td>
                        <td><%= totalScore %></td>
                        <% if (totalScore >= 80) { %>
                            <td>4</td>
                        <% } else if (totalScore >= 75 && totalScore < 80){ %>
                            <td>3.5</td>
                        <% } else if (totalScore >= 70) { %>
                            <td>3.0</td>
                        <% } else if (totalScore >= 65) { %>
                            <td>2.5</td>
                        <% } else if (totalScore >= 60) { %>
                            <td>2.0</td>
                        <% } else if (totalScore >= 55) { %>
                            <td>1.5</td>
                        <% } else if (totalScore >= 50) { %>
                            <td>1.0</td>
                        <% } else { %>
                            <td>0</td>
                        <% } %>

                    </tbody>
                <% }) %>
                
            </table>
        </div>
    </div>
   
</body>
</html>