<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/test.css">
</head>

<body>

    <% if (user.role === 'teacher') { %>
    <%- include('navbar-teacher') %>
    <% } else if (user.role === 'student') { %>
    <%- include('navbar') %>
    <% } else if (user.role === 'admin') { %>
    <%- include('navbar-staff') %>
    <% } %>

        <h2>ตารางสอน</h2>
        <div class="allcard">
            <% const days=["Mon","Tue","Wed","Thu","Fri"]; const dayLabel={ Mon: "จันทร์" , Tue: "อังคาร" , Wed: "พุธ" ,
            Thu: "พฤหัสบดี" , Fri: "ศุกร์" }; 
        const timeSlots=[ "08:00" ,"09:00","10:00","11:00", "12:00","13:00","14:00","15:00","16:00" ]; %>

            <table class="schedule-table">

                <thead>
                <tr>
                    <th>วัน / เวลา</th>
                    <% for(let i = 0; i < timeSlots.length - 1; i++){ %>
                        <th>
                            <%= timeSlots[i] %> - <%= timeSlots[i+1] %>
                        </th>
                    <% } %>
                </tr>
                </thead>

                <tbody>

                    <% days.forEach(day=> { %>
                        <tr>
                            <td>
                                <%= dayLabel[day] %>
                            </td>

                            <% for(let i = 0; i < timeSlots.length - 1; i++){ 
                                const time = timeSlots[i];
                            %>
                                <td>
                                    <% let printed = false; %>
                                    <% data.forEach(item => {
                                        if (printed) return;
                                        item.Subject.SubjectSchedules.forEach(s => {
                                            if (
                                                !printed &&
                                                s.day_of_week === day &&
                                                s.start_time.substring(0,5) <= time &&
                                                s.end_time.substring(0,5) > time &&
                                                s.section === item.section
                                            ) {
                                    %>
                                        <b><%= item.Subject.subject_name %></b><br>
                                        ห้อง <%= item.Subject.Classroom.classroom_name %>
                                    <% 
                                            printed = true;
                                            }
                                        });
                                    }); %>
                                </td>
                            <% } %>

                        </tr>
                        <% }) %>

                </tbody>

            </table>
        </div>
        

</body>

</html>